:root {
  --main-color-black : #1e1e07;
  --main-color-green : #0e5f12;
  --main-color-orange : #ff8807;
  --main-color-orange-light : rgb(255, 198, 64);
  --main-color-yellow : #ffe923;
  --main-color-yellow-light : #fffbab;
}

body {
  margin: 0 3%;
}

h1 {
  background-color: var(--main-color-orange);  
}

.search__backgroundimg {
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}
.search__backgroundimg::after {
  width: 100%;
  height: 500px;
  content: "";
  background-image: url(../src/assets/메인배경화면.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  filter: brightness(60%);
}

.search__input {
  margin-top: 200px;
  margin-left: auto;
  margin-right:auto;
}

.search__input span {
  width: 470px;
  height: 45px;
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 30px;
  border-radius: 15px;
}
.search__input span:hover {
  width: 470px;
  height: 45px;
  box-shadow: rgba(255, 255, 255, 1) 0px 0px 30px;
  border-radius: 15px;
}

.search__input input {
  width: 400px;
  height: 31px;
  border: none;
  line-height: 44px;
  padding: 13px 0 0 10px;
  border-radius: 20px 0 0 20px;
  font-size: 20px;
  z-index: -5;
  outline: none;
}

.search__input button {
  border: none;
  background-color: var(--main-color-orange);
  color : white;
  font-size:larger;
  padding: 5px;
  width: 60px;
  border-radius: 0 20px 20px 0;
  
}
.search__input button:hover {
  color: var(--main-color-black);
}


.btn_icon{
  margin-top: 5px;
  font-size: large;
}

.search__filter {
  list-style-type: none;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}
.search__filter li {
  padding: 7px;
  border-radius: 20px;
  background-color: rgba(127, 156, 159, 0.3);
  font-weight: bold;
}

.search__filter li:hover {
  background-color: var(--main-color-orange-light);  
  color: var(--main-color-black);
  font-weight: 600;
  box-shadow: rgb(61, 61, 61) 0px 0px 8px;
}





.footer__img {
  float: left;
}
